<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sdzs.zsdev.web.grammarian.GrammarianRepository">

    <!-- 获取grammarly参数 -->
    <select id="getGrammarlyParam" resultType="Map">
        select
             id
            ,dict_key
            ,dict_value
        from
             g_dict
        where
             dict_key like 'gr_%'
    </select>

    <!-- 更新参数表信息 -->
    <update id="updGrammarlyParam" parameterType="Map">
        update
            g_dict
        set
            dict_value = #{value}
        where
            dict_key = #{key}
    </update>

</mapper>