<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sdzs.zsdev.ac.demand.DemandRepository">

    <!--
         Copyright(C) ShanDongYinFang 2019.
         <p>
         web端机构信息操作Mapper.
         @author 门海峰 2020/03/17.
         @version V0.0.1.
         <p>
         更新履历： V0.0.1 2020/03/17 门海峰 创建.
       -->
    <!-- 查询主机构信息列表. -->
    <select id="demandQueryList" resultType="Map" parameterType="Map">
        select * from (
        SELECT
        d.id as id,
        d.project_id as projectid,
        ifnull(d.demand_name, '　') as demandname,
        d.start_time as starttime,
        d.end_time as endtime,
        d.expected_st_time as expectedsttime,
        d.expected_en_time as expectedentime,
        d.demand_content as demandcontent,
        d.principal as principal,
        ifnull(u.uname, '　') as username,
        d.addtime as addtime,
        d.updtime as updtime,
        ifnull(p.project_name, '　') as projectname,
        d.operator as operator,
        ifnull(u1.uname, '　') as operatorname,
        CASE
        WHEN (d.start_time IS NULL or d.start_time='') AND (d.end_time IS NULL or d.end_time = '') THEN
        '未开始'
        WHEN d.start_time IS NOT NULL AND d.start_time!='' AND (d.end_time IS NULL or d.end_time = '') THEN
        '进行中'
        WHEN d.start_time IS NOT NULL AND d.start_time!='' AND d.end_time IS NOT NULL and d.end_time != '' THEN
        '已结束'
        ELSE
        '--'
        END status
        FROM
        zs_demand d
        left join turnin_user u on d.principal=u.uid
        left join zs_project p on  d.project_id=p.project_id
        left join turnin_user u1 on d.operator=u1.uid
        WHERE
        1 = 1
        <if test="demandname != null and demandname != ''">
            AND d.demand_name LIKE "%"#{demandname}"%"
        </if>
        <if test="demandnamejq != null and demandnamejq != ''">
            AND d.demand_name = #{demandnamejq}
        </if>
        ORDER BY d.project_id DESC
        <if test="pagingOrNot != null and pagingOrNot != ''">
            LIMIT #{startindex},#{pagesize}
        </if>
        ) s where 1=1
        <if test="status != null and status != ''">
            AND s.status = #{status}
        </if>
        <if test="projectname != null and projectname != ''">
            AND s.projectname LIKE "%"#{projectname}"%"
        </if>
    </select>

    <select id="demandQueryListjq" resultType="Map" parameterType="Map">
        SELECT
        d.id as id,
        d.project_id as projectid,
        d.demand_name as demandname,
        d.start_time as starttime,
        d.end_time as endtime,
        d.demand_content as demandcontent,
        d.principal as principal,
        d.addtime as addtime,
        d.updtime as updtime
        FROM
        zs_demand d
        WHERE d.demand_name = #{demandnamejq}
    </select>

    <select id="number" resultType="int">
        SELECT
            count( 1 )
        FROM
            zs_demand
    </select>

    <insert id="adddemand" parameterType="Map">
        INSERT INTO
            zs_demand (
            id
            ,project_id
            ,demand_name
            ,start_time
            ,end_time
            ,expected_st_time
            ,expected_en_time
            ,demand_content
            ,principal
            ,addtime
            ,updtime
            ,operator
            )
		VALUES
		    ( #{id}
		    , #{projectid}
		    ,#{demandname}
		    ,#{starttime}
		    ,#{endtime}
		    ,#{expectedsttime}
		    ,#{expectedentime}
		    ,#{demandcontent}
		    ,#{principal}
		    ,#{addTime}
		    ,#{updTime}
		    ,#{operator}
		    );
    </insert>

    <update id="editdemand" parameterType="Map">
        UPDATE zs_demand SET
        demand_name=#{demandname}
        <if test="projectid != null and projectid != ''">
            ,project_id=#{projectid}
        </if>
        <if test="starttime != null and starttime != ''">
            ,start_time=#{starttime}
        </if>
        <if test="endtime != null and endtime != ''">
            ,end_time=#{endtime}
        </if>
        <if test="expectedsttime != null and expectedsttime != ''">
            ,expected_st_time=#{expectedsttime}
        </if>
        <if test="expectedentime != null and expectedentime != ''">
            ,expected_en_time=#{expectedentime}
        </if>
        <if test="demandcontent != null and demandcontent != ''">
            ,demand_content=#{demandcontent}
        </if>
        <if test="principal != null and principal != ''">
            ,principal=#{principal}
        </if>
        <if test="updateTime != null and updateTime != ''">
            ,updTime=#{updateTime}
        </if>
        <if test="operator != null and operator != ''">
            ,operator=#{operator}
        </if>
        WHERE id= #{id};
    </update>

    <delete id="deldemand" parameterType="Map">
        DELETE FROM zs_demand WHERE id = #{id}
    </delete>
</mapper>