<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sdzs.zsdev.ac.project.ProjectRepository">

    <!--
         Copyright(C) ShanDongYinFang 2019.
         <p>
         web端机构信息操作Mapper.
         @author 门海峰 2020/03/17.
         @version V0.0.1.
         <p>
         更新履历： V0.0.1 2020/03/17 门海峰 创建.
       -->
    <!-- 查询主机构信息列表. -->
    <select id="projectQueryList" resultType="Map" parameterType="Map">
        select * from (
            SELECT
            p.id as id,
            p.project_id as projectid,
            p.project_name as projectname,
            p.expected_st_time as expectedsttime,
            p.expected_en_time as expectedentime,
            p.actual_st_time as actualsttime,
            p.actual_en_time as actualentime,
            p.introduction as introduction,
            p.principal as principal,
            p.addtime as addtime,
            ifnull(u.uname, '　') as username,
            <if test="todaytime != null and todaytime != ''">
                SUBSTRING(p.project_id,-3) as projectnumber,
            </if>
            p.updtime as updtimep,
            p.operator as operator,
            ifnull(u1.uname, '　') as operatorname,
            CASE
            WHEN (p.actual_st_time IS NULL or p.actual_st_time='') AND (p.actual_en_time IS NULL or p.actual_en_time = '') THEN
            '未开始'
            WHEN p.actual_st_time IS NOT NULL AND p.actual_st_time!='' AND (p.actual_en_time IS NULL or p.actual_en_time = '') THEN
            '进行中'
            WHEN p.actual_st_time IS NOT NULL AND p.actual_st_time!='' AND p.actual_en_time IS NOT NULL and p.actual_en_time != '' THEN
            '已结束'
            ELSE
            '--'
            END status
            FROM
            zs_project p
            left join turnin_user u on p.principal=u.uid
            left join turnin_user u1 on p.operator=u1.uid
            WHERE
            1 = 1
            <if test="projectname != null and projectname != ''">
                AND p.project_name LIKE "%"#{projectname}"%"
            </if>
            <if test="todaytime != null and todaytime != ''">
                AND p.project_id LIKE "%"#{todaytime}"%"
            </if>
            <if test="principal != null and principal != ''">
                AND p.principal = #{principal}
            </if>
            <if test="projectid != null and projectid != ''">
                AND p.project_id = #{projectid}
            </if>
            <if test="todaytime == null or todaytime == ''">
                ORDER BY p.addtime DESC
            </if>
            <if test="todaytime != null and todaytime != ''">
                ORDER BY SUBSTRING( p.project_id,- 3 ) DESC limit 1
            </if>

            <if test="pagingOrNot != null and pagingOrNot != ''">
                LIMIT #{startindex},#{pagesize}
            </if>
        ) s where 1=1
        <if test="status != null and status != ''">
            AND s.status = #{status}
        </if>
    </select>

    <select id="projectQueryListjq" resultType="Map" parameterType="Map">
        SELECT
        p.id as id,
        p.project_id as projectid,
        p.project_name as projectname,
        p.expected_st_time as expectedsttime,
        p.expected_en_time as expectedentime,
        p.actual_st_time as actualsttime,
        p.actual_en_time as actualentime,
        p.introduction as introduction,
        p.principal as principal,
        p.addtime as addtime,
        <if test="todaytime != null and todaytime != ''">
            MAX(SUBSTRING(p.project_id,-3)) as projectnumber,
        </if>
        p.updtime as updtime
        FROM
        zs_project p
        WHERE p.project_name = #{projectnamejq}
        <if test="projectid != null and projectid != ''">
            AND p.project_id = #{projectid}
        </if>
    </select>

    <select id="number" resultType="int">
        SELECT
            count( 1 )
        FROM
            zs_project
    </select>

    <insert id="addproject" parameterType="Map">
        INSERT INTO
            zs_project (
            id
            ,project_id
            ,project_name
            ,expected_st_time
            ,expected_en_time
            ,actual_st_time
            ,actual_en_time
            ,introduction
            ,principal
            ,addtime
            ,updtime
            ,operator
            )
		VALUES
		    ( #{id}
		    , #{projectid}
		    ,#{projectname}
		    ,#{expectedsttime}
		    ,#{expectedentime}
		    ,#{actualsttime}
		    ,#{actualentime}
		    ,#{introduction}
		    ,#{principal}
		    ,#{addTime}
		    ,#{updTime}
		    ,#{operator}
		    );
    </insert>

    <update id="editproject" parameterType="Map">
        UPDATE zs_project SET
            project_name=#{projectname}
        <if test="expectedsttime != null and expectedsttime != ''">
            ,expected_st_time=#{expectedsttime}
        </if>
        <if test="expectedentime != null and expectedentime != ''">
            ,expected_en_time=#{expectedentime}
        </if>
        <if test="actualsttime != null and actualsttime != ''">
            ,actual_st_time=#{actualsttime}
        </if>
        <if test="actualentime != null and actualentime != ''">
            ,actual_en_time=#{actualentime}
        </if>
        <if test="introduction != null and introduction != ''">
            ,introduction=#{introduction}
        </if>
        <if test="principal != null and principal != ''">
            ,principal=#{principal}
        </if>
        <if test="updateTime != null and updateTime != ''">
            ,updTime=#{updateTime}
        </if>
        <if test="operator != null and operator != ''">
            ,operator=#{operator}
        </if>
        WHERE id= #{id};
    </update>

    <delete id="delproject" parameterType="Map">
        DELETE FROM zs_project WHERE id = #{id}
    </delete>

    <insert id="addannex" parameterType="Map">
        INSERT INTO
            zs_annex (
            id
            ,annex_name
            ,annex_path
            ,annex_mark
            ,addtime
            ,updtime
            ,operator
            ,glid
            )
		VALUES
		    ( #{fileid}
		    , #{filename}
		    ,#{filepath}
		    ,#{filemark}
		    ,#{addTime}
		    ,#{updTime}
		    ,#{operator}
		    ,#{glid}
		    )
		    ON DUPLICATE KEY UPDATE id= #{fileid}
    </insert>

    <delete id="delfile" parameterType="Map">
        DELETE FROM zs_annex WHERE id = #{id}
    </delete>

    <select id="queryFileList" resultType="Map" parameterType="Map">
        SELECT
        a.id as fileid,
        a.annex_name as filename,
        a.annex_path as filepath,
        a.annex_mark as filemark
        FROM
        zs_annex a
        WHERE
        1 = 1
        <if test="glid != null and glid != ''">
            AND a.glid = #{glid}
        </if>
        order by a.addtime desc
    </select>
</mapper>